.keyword-technical-support-on-click-container {
  min-height: 100vh;
}
.keyword-technical-support-on-click-keyword-technical-support-on-click {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(240, 240, 240, 1);
  font-family: 'Times New Roman', Times, serif;
}
.keyword-technical-support-on-click-jobs-detail-all {
  top: 342px;
  left: 29px;
  width: 1865px;
  height: 738px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg {
  top: 0px;
  left: 0px;
  width: 1865px;
  height: 738px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-row4 {
  top: 623px;
  left: 0px;
  width: 1865px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-last-update-detail {
  top: 0px;
  left: 1665px;
  width: 200px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-rectangle15 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 115px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text {
  top: 77px;
  left: 69px;
  color: rgba(0, 0, 0, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-published-requirements-detail {
  top: 0px;
  left: 1030px;
  width: 634px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-rectangle14 {
  top: 0px;
  left: 0px;
  width: 634px;
  height: 115px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text002 {
  top: 10px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 604px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-postquail-detail {
  top: 0px;
  left: 842px;
  width: 187px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg01 {
  top: 0px;
  left: 0px;
  width: 187px;
  height: 115px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text017 {
  top: 77px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-business-detail {
  top: 0px;
  left: 687px;
  width: 154px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg02 {
  top: 0px;
  left: 0px;
  width: 154px;
  height: 115px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text019 {
  top: 77px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-salarypm-detail {
  top: 0px;
  left: 543px;
  width: 143px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg03 {
  top: 0px;
  left: 1px;
  width: 142px;
  height: 115px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text021 {
  top: 77px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-job-title-detail {
  top: 0px;
  left: 274px;
  width: 269px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg04 {
  top: 0px;
  left: 0px;
  width: 269px;
  height: 115px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text022 {
  top: 74px;
  left: 30px;
  color: rgba(0, 0, 0, 1);
  width: 209px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-order-location-detail {
  top: 0px;
  left: 134px;
  width: 139px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg05 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 115px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text024 {
  top: 77px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-key-detail {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg06 {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 115px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text026 {
  top: 77px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-row3 {
  top: 412px;
  left: 0px;
  width: 1865px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-last-update-detail1 {
  top: 0px;
  left: 1665px;
  width: 200px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg07 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text028 {
  top: 97px;
  left: 69px;
  color: rgba(0, 0, 0, 1);
  width: 65px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-published-requirements-detail1 {
  top: 0px;
  left: 1030px;
  width: 634px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg08 {
  top: 0px;
  left: 0px;
  width: 634px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text033 {
  top: 22px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  width: 606px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-postquail-detail1 {
  top: 0px;
  left: 842px;
  width: 187px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg09 {
  top: 0px;
  left: 0px;
  width: 187px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text056 {
  top: 97px;
  left: 84px;
  color: rgba(0, 0, 0, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-business-detail1 {
  top: 0px;
  left: 687px;
  width: 154px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg10 {
  top: 0px;
  left: 0px;
  width: 154px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text058 {
  top: 97px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-salarypm-detail1 {
  top: 0px;
  left: 543px;
  width: 143px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg11 {
  top: 0px;
  left: 1px;
  width: 142px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text060 {
  top: 97px;
  left: 52px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-job-title-detail1 {
  top: 0px;
  left: 274px;
  width: 269px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg12 {
  top: 0px;
  left: 0px;
  width: 269px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text062 {
  top: 96px;
  left: 28px;
  color: rgba(0, 0, 0, 1);
  width: 213px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-order-location-detail1 {
  top: 0px;
  left: 134px;
  width: 139px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg13 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text064 {
  top: 97px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-key-detail1 {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg14 {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text066 {
  top: 97px;
  left: 45px;
  color: rgba(0, 0, 0, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-row2 {
  top: 31px;
  left: 0px;
  width: 1865px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-last-update-detail2 {
  top: 0px;
  left: 1665px;
  width: 200px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg15 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text068 {
  top: 98px;
  left: 69px;
  color: rgba(0, 0, 0, 1);
  width: 67px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-published-requirements-detail2 {
  top: 0px;
  left: 1030px;
  width: 634px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg16 {
  top: 0px;
  left: 0px;
  width: 634px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text070 {
  top: 10px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 606px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-postquail-detail2 {
  top: 0px;
  left: 842px;
  width: 187px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg17 {
  top: 0px;
  left: 0px;
  width: 187px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text097 {
  top: 97px;
  left: 84px;
  color: rgba(0, 0, 0, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-business-detail2 {
  top: 0px;
  left: 687px;
  width: 154px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg18 {
  top: 0px;
  left: 0px;
  width: 154px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text099 {
  top: 97px;
  left: 35px;
  color: rgba(0, 0, 0, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-salarypm-detail2 {
  top: 0px;
  left: 543px;
  width: 143px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg19 {
  top: 0px;
  left: 1px;
  width: 142px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text101 {
  top: 97px;
  left: 52px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-job-title-detail2 {
  top: 0px;
  left: 274px;
  width: 269px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg20 {
  top: 0px;
  left: 0px;
  width: 269px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text103 {
  top: 97px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 226px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-order-location-detail2 {
  top: 0px;
  left: 134px;
  width: 139px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg21 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text105 {
  top: 97px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-key-detail2 {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 210px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg22 {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 210px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text107 {
  top: 97px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  width: 48px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-row1 {
  top: 242px;
  left: 0px;
  width: 1865px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-last-update-detail3 {
  top: 0px;
  left: 1665px;
  width: 200px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-rectangle151 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 169px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text109 {
  top: 78px;
  left: 69px;
  color: rgba(0, 0, 0, 1);
  width: 66px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-published-requirements-detail3 {
  top: 0px;
  left: 1030px;
  width: 634px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-rectangle141 {
  top: 0px;
  left: 0px;
  width: 634px;
  height: 169px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text111 {
  top: 10px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 609px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-postquail-detail3 {
  top: 0px;
  left: 842px;
  width: 187px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg23 {
  top: 0px;
  left: 0px;
  width: 187px;
  height: 169px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text132 {
  top: 77px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-business-detail3 {
  top: 0px;
  left: 687px;
  width: 154px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg24 {
  top: 0px;
  left: 0px;
  width: 154px;
  height: 169px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text134 {
  top: 77px;
  left: 51px;
  color: rgba(0, 0, 0, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-salarypm-detail3 {
  top: 0px;
  left: 543px;
  width: 143px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg25 {
  top: 0px;
  left: 1px;
  width: 142px;
  height: 169px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text136 {
  top: 77px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-job-title-detail3 {
  top: 0px;
  left: 274px;
  width: 269px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg26 {
  top: 0px;
  left: 0px;
  width: 269px;
  height: 169px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text138 {
  top: 76px;
  left: 26px;
  color: rgba(0, 0, 0, 1);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-order-location-detail3 {
  top: 0px;
  left: 134px;
  width: 139px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg27 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 169px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text140 {
  top: 77px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 18px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-key-detail3 {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 169px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg28 {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 169px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text142 {
  top: 77px;
  left: 45px;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-job-detail-navbar {
  top: 0px;
  left: 0px;
  width: 1865px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-last-update {
  top: 0px;
  left: 1714px;
  width: 151px;
  height: 16px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-last-updatebg {
  top: 0px;
  left: -49px;
  width: 200px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text144 {
  top: 3px;
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-published-requiredments {
  top: 0px;
  left: 1030px;
  width: 634px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-published-requiredmentsbg {
  top: 0px;
  left: 0px;
  width: 634px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text146 {
  top: 4px;
  left: 207px;
  color: rgba(0, 0, 0, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-postquail {
  top: 0px;
  left: 842px;
  width: 187px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-postquailbg {
  top: 0px;
  left: 0px;
  width: 187px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text148 {
  top: 3px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-business {
  top: 0px;
  left: 687px;
  width: 154px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-businessbg {
  top: 0px;
  left: 0px;
  width: 154px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text150 {
  top: 4px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-salarypm {
  top: 0px;
  left: 544px;
  width: 142px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-salarypmbg {
  top: 0px;
  left: 0px;
  width: 142px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text152 {
  top: 3px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-job-title {
  top: 1px;
  left: 275px;
  width: 268px;
  height: 29px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-job-titlebg {
  top: -1px;
  left: -1px;
  width: 269px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text154 {
  top: 2px;
  left: 101px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-order-location {
  top: 0px;
  left: 134px;
  width: 139px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-order-locationbg {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text156 {
  top: 3px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-key {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 30px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-rectangle6 {
  top: 0px;
  left: 0px;
  width: 133px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text158 {
  top: 2px;
  left: 51px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-page-navigator {
  top: 300px;
  left: 23px;
  width: 392px;
  height: 32px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text160 {
  top: 1px;
  left: 100px;
  color: rgba(109, 109, 109, 1);
  width: 74px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-text162 {
  top: 1px;
  left: 74px;
  color: rgba(109, 109, 109, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-text163 {
  top: 1px;
  color: rgba(109, 109, 109, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-text165 {
  top: 1px;
  width: 200px;
  left: 211px;
  color: rgba(109, 109, 109, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-text167 {
  top: 1px;
  left: 185px;
  color: rgba(109, 109, 109, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-quick-search {
  top: 82px;
  left: 0px;
  width: 1920px;
  height: 208px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg29 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 207px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-keyword {
  top: 142px;
  left: 271px;
  width: 841px;
  height: 26px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text168 {
  left: 782px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-text170 {
  left: 593px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-text172 {
  left: 402px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-text174 {
  left: 144px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.keyword-technical-support-on-click-text176 {
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-search-button {
  top: 80px;
  left: 1595px;
  width: 248px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg30 {
  top: 0px;
  left: -1px;
  width: 249px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text178 {
  top: 8px;
  left: 95px;
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-job-function-search {
  top: 80px;
  left: 1248px;
  width: 316px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg31 {
  top: 0px;
  left: 0px;
  width: 316px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-polygon {
  top: 15px;
  right: 15px;
  width: 17px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text180 {
  top: 8px;
  left: 19px;
  color: rgba(0, 0, 0, 0.5);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-location-search {
  top: 80px;
  left: 832px;
  width: 385px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg32 {
  top: 0px;
  left: 0px;
  width: 385px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-polygon1 {
  top: 15px;
  right: 15px;
  width: 17px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text182 {
  top: 8px;
  left: 19px;
  color: rgba(0, 0, 0, 0.5);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-job-title-search {
  top: 80px;
  left: 272px;
  width: 529px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg33 {
  top: 0px;
  left: 0px;
  width: 529px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-search-icon {
  top: 8px;
  left: 494px;
  width: 26px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text184 {
  top: 8px;
  left: 19px;
  color: rgba(0, 0, 0, 0.5);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-text186 {
  top: 30px;
  left: 272px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-info-tech-logo {
  top: 60px;
  left: 64px;
  width: 151px;
  height: 77px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-navbar {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 82px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-navbarbg {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 82px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-staff-login-btn {
  top: 26px;
  left: 1794px;
  width: 103px;
  height: 27px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg34 {
  top: 0px;
  left: 0px;
  width: 103px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 5px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text188 {
  top: 2px;
  left: 9px;
  color: rgba(0, 0, 0, 0.699999988079071);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-registration-btn {
  top: 26px;
  left: 1668px;
  width: 115px;
  height: 27px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-bg35 {
  top: 0px;
  left: 0px;
  width: 115px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 5px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text190 {
  top: 2px;
  left: 10px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-heading {
  top: 24px;
  left: 1350px;
  width: 256px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-search {
  top: 20px;
  left: 1046px;
  width: 291px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-rectangle {
  top: 0px;
  left: 0px;
  width: 291px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text192 {
  top: 8px;
  left: 47px;
  color: rgba(0, 0, 0, 0.5);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-search-icon1 {
  top: 8px;
  left: 10px;
  width: 26px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.keyword-technical-support-on-click-text194 {
  top: 28px;
  left: 1613px;
  color: rgba(0, 0, 0, 1);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-text196 {
  top: 22px;
  left: 493px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-text198 {
  top: 22px;
  left: 345px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-text200 {
  top: 22px;
  left: 185px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.keyword-technical-support-on-click-text202 {
  top: 22px;
  left: 23px;
  color: rgba(0, 0, 0, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Frank Ruhl Libre;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
